.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: green;
    color: cornflowerblue;

}

.Header button{
    color: blue;
    height: 40px;
    width: 30%;
}